<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous"
    />

    <title>게시글 조회</title>
  </head>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
  integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>


<script>
    // $(document).ready(function () {
    //         get_write()
    //     })

    // function get_write(category) {
    //           $("#write").empty()
    //           console.log(category)
    //           $.ajax({
    //               type: "GET",
    //               url: `/api/rewrite/${writeId}`,
    //               data: {},
    //               success: function (response) {
    //                   let rewrite = response["detail"]
    //                   for (let i = 0; i < write.length; i++) {
    //                       make_card(rewrite[i])
    //                   }
    //               }
    //           })
    //       }

    //       function make_card(item) {
    //         let htmlTemp = `<tr>
    //                             <th>${item["title"]}</a></th>
    //                             <th>${item["name"]}</th>
    //                             <th>${item["content"]}</th>
    //                             <th>${item["date"]}</th>
    //                         </tr>`
    //                         $("#write").append(htmlTemp);
    //       }


const queryString = window.location.search
const urlParams = new URLSearchParams(queryString)
const writeId = urlParams.get("writeId")

$(document).ready(function () {
  comment_get()
})
// 댓글작성
function comment_write() {
  let comment = $('#comment').val()
  let nickname = $('#nickname').val()
  $.ajax({
      type: "POST",
      url: `/api/comment/${writeId}`,
      headers: { authorization: `Bearer ${localStorage.getItem("token")}`, },
      data: {
        comment: comment,
        nickname: nickname
      },
      success: function (response) {
          if(comment !== " ") {
            alert('저장했습니다')
            window.location.reload()
          } else {
            alert('빈칸을 채워주세요')
          }
      }
  })
}
// 댓글조회
function comment_get() {
  $.ajax({
    type: "GET",
    url: `/api/comment/${writeId}`,
    data: {},
    success: function (response) {
      let comment = response['comments']

      for(let i=0; i<comment.length; i++) {
        let nickname = comment[i]["nickname"];
        let content = comment[i]["comment"];
        // console.log(nickname,content)
        let temp_html = `<tr>
                        <th>${nickname}</th>
                        <th >${content}</th>
                        <th>
                          <button onclick="comment_patch()">수정하기</a></button>
                          <button onclick="comment_delete()">삭제하기</a></button>
                        </th>
                    </tr>`

        $('#commentList').append(temp_html)
      }
    }
  })
}

// 댓글수정
function comment_patch() {
  
}

// 댓글삭제
function comment_delete() {
  if(confirm('정말 삭제하시겠습니까?')) {
    return true
  } else {
    return false
  }
  $.ajax({
    type: "delete",
    url: `/api/comment/${writeId}`,
    data: { comment:comment },           
    success: function (response) {
      alert(response['result'])
      window.location.reload()
    },
    error: function (error) {
      alert(error.responseJSON.errorMessage); 
    }, 
  })
}
</script>
  
  <body>
    
    <div>
      <div class="wrap">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>내용</th>
                        <th>날짜</th>
                    </tr>
                </thead>
                <tbody id="write">
                    <tr>
                        <th><%= users.title %></th>
                        <th><%= users.name %></th>
                        <th><%= users.content %></th>
                        <th><%= users.date %></th>
                    </tr>
                </tbody>
            </table>
            <button onclick="window.location.href='/revise?writeId=<%=users._id%>'">수정하기</a></button> 
                            <!-- 쿼리스트링으로 넘겨줌 -->
                            <!-- a태그 수정 -->


            <p><hr>
              
            <div>
              <table>
                <thead>
                    <tr>
                        <th id="nickname">닉네임</th>
                        <th><input type="text" id="comment" placeholder="내용을 입력해주세요"></th>
                        <th><button onclick="comment_write()">댓글 등록</a></button></th>
                    </tr>
                </thead>
                <tbody id="commentList">
                    <tr>
                        <!-- <th>닉네임명</th>
                        <th>댓글 내용</th>
                        <th><button onclick="comment_patch()">수정하기</a></button>
                          <button onclick="comment_delete()">삭제하기</a></button></th> -->
                    </tr>
                </tbody>
            </table>                
            </div>
              
            </p>
            
        </div>
  </body>
</html>