<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap CSS -->
     <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
     integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
     crossorigin="anonymous"
     />
    
    <title>게시글 조회</title>

  </head>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
  integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>



<script>
    // $(document).ready(function () {
    //         get_write()
    //     })

    // function get_write(category) {
    //           $("#write").empty()
    //           console.log(category)
    //           $.ajax({
    //               type: "GET",
    //               url: `/api/rewrite/${writeId}`,
    //               data: {},
    //               success: function (response) {
    //                   let rewrite = response["detail"]
    //                   for (let i = 0; i < write.length; i++) {
    //                       make_card(rewrite[i])
    //                   }
    //               }
    //           })
    //       }

    //       function make_card(item) {
    //         let htmlTemp = `<tr>
    //                             <th>${item["title"]}</a></th>
    //                             <th>${item["name"]}</th>
    //                             <th>${item["content"]}</th>
    //                             <th>${item["date"]}</th>
    //                         </tr>`
    //                         $("#write").append(htmlTemp);
    //       }


const queryString = window.location.search
const urlParams = new URLSearchParams(queryString) // URL의 쿼리 문자열에 대해 작업할 수 있는 유틸리티 메서드
const writeId = urlParams.get("writeId") //ejs관련


$(document).ready(function () {
  comment_get()
})
// 댓글작성
function comment_write() {
  let comment = $('#comment').val()
  let nickname = $('#nickname').val()
  $.ajax({
      type: "POST",
      url: `/api/comment/${writeId}`,
      headers: { authorization: `Bearer ${localStorage.getItem("token")}`, },
      data: {
        comment: comment,
        nickname: nickname
      },
      success: function (response) {
          if(comment !== " ") {
            alert('저장했습니다')
            window.location.reload()
          } else {
            alert('빈칸을 채워주세요')
          }
      }
  })
}
// 댓글조회
function comment_get() {
  $.ajax({
    type: "GET",
    url: `/api/comment/${writeId}`, // 게시글 _id필요
    data: {},
    success: function (response) {
      let comment = response['comments']

      for(let i=0; i<comment.length; i++) {
        // console.log(comment[i])
        let nickname = comment[i]["nickname"];
        let content = comment[i]["comment"];
        let commentId = comment[i]["_id"];

        // console.log(commentId)
        let temp_html = `<tr>
                        <th>${nickname}</th>
                        <th id="editComment">${content}</th>
                        <th>
                          <button data-toggle="modal" data-target="#edit${commentId}">수정하기</a></button>
                          <div class="modal fade" id="edit${commentId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <textarea id="edit-comment" rows="2" class="form-control" placeholder="댓글을 수정해주세요">${content}</textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-primary" onclick="comment_patch('${commentId}')">수정</button>
                              </div>
                            </div>
                          </div>
                        </div>
                          
                          <button onclick="comment_delete('${commentId}')">삭제하기</a></button>
                        </th>`

        $('#commentList').append(temp_html)
      }
    }
  })
}

// 댓글수정
function comment_patch(commentId) {
  let comment = $('#edit-comment').val()
  console.log(comment)

  $.ajax({
    type: "PATCH",
    url: `/api/comment/${commentId}`,
    headers: { authorization: `Bearer ${localStorage.getItem("token")}`, },
    data: {
      comment: comment
    },
    success: function (response) {
      if(response["result"] === "success") {
        alert('수정완료')
        window.location.reload()
      }
    },
    error: function (error) {
        alert('본인의 글만 삭제가능합니다'); 
    },
  })
}

// 댓글삭제
function comment_delete(commentId) {

  if(!confirm('정말 삭제하시겠습니까?')) {
    return flase
  } else {
    $.ajax({
      type: "DELETE",
      url: `/api/comment/${commentId}`, // 인자가 commentId이니까 1번 commentId로 쓰겠다 선언. 
      headers: { authorization: `Bearer ${localStorage.getItem("token")}` },
      data: { 
      },
      success: function (response) {
        if(response["result"] === "success") {
          alert('삭제했습니다')
          window.location.reload()
        }
      },
      error: function (error) {
        alert('본인의 글만 삭제가능합니다');
      }, 
    })
  } 
}

function login_check() {
  if(!localStorage.getItem('token')) {
    alert('로그인이 필요한 기능입니다')
  }
}

</script>
  
  <body>
    
    <div>
      <div class="wrap">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>내용</th>
                        <th>날짜</th>
                    </tr>
                </thead>
                <tbody id="write">
                    <tr>
                        <th><%= users.title %></th>
                        <th><%= users.name %></th>
                        <th><%= users.content %></th>
                        <th><%= users.date %></th>
                    </tr>
                </tbody>
            </table>
            <button onclick="window.location.href='/revise?writeId=<%=users._id%>'">수정하기</a></button> 
                            <!-- 쿼리스트링으로 넘겨줌 -->
                            <!-- a태그 수정 -->


            <p><hr>
              
            <div>
              <table>
                <thead>
                    <tr>
                        <th>
                          <input type="text" id="comment" 
                          placeholder="코멘트를 달아주세요" onclick="login_check()">
                        </th>
                        <th>
                          <button onclick="comment_write()">작성</a></button>
                        </th>
                    </tr>
                </thead>
                <tbody id="commentList">
                    <tr>
                        <!-- <th>닉네임명</th>
                        <th>댓글 내용</th>
                        <th><button onclick="comment_patch()">수정하기</a></button>
                          <button onclick="comment_delete()">삭제하기</a></button></th> -->
                    </tr>
                </tbody>
            </table>                
            </div>
              
            </p>
            
        </div>

          <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
  </body>
</html>